{% extends 'base.html' %}

{% block title %}Change Password {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 my-5 p-5 shadow shadow-lg mx-auto">
            <h3 class="text-center">Change Password Here</h3>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
                {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
<!--                {% if form.non_field_errors %}-->
<!--                {% for error in form.non_field_errors %}-->
<!--                <p>{{error}}</p>-->
<!--                {% endfor %}-->
<!--                {% endif %}-->
<!--                {% for form in form %}-->
<!--                {{form.label_tag }}{{form}}{{form.errors |striptags}}<br>-->
<!--                {% endfor %}-->
<!--&lt;!&ndash;                {{form.as_p}}&ndash;&gt;-->
<!--                <button type="submit" class="btn btn-info">Save</button>-->
                <div class="form-group">
                    <label>Old Password</label>
                    <input type="password" class="form-control" name="cpwd" required>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="npwd" id="pas" onkeyup="check_pass()" required>
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control" id="cpas" onkeyup="check_pass()" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-warning" value="Change Password" id="sub">
                </div>

            </form>
        </div>
    </div>
    <script>
    function check_pass(){
        let p=$("#pas").val();
        let cp=$("#cpas").val();

        if (p==cp){

            //$("#pas").css("border","1px solid green");
            //$("#cpas").css("border","1px solid green");
            $("#pas").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#cpas").removeClass("alert alert-danger").addClass("alert alert-success");
            $("#sub").removeAttr("disabled");
        }
        else{
           // $("#pas").css("border","1px solid red");
           // $("#cpas").css("border","1px solid red");
            $("#pas").removeClass("alert alert-success").addClass("alert alert-danger");
            $("#cpas").removeClass("alert alert-success").addClass("alert alert-danger");
            $("#sub").attr("disabled","disabled");
        }
    }
</script>
</div>


{% endblock %}
