<!--<head>-->
<!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<!--</head>-->
<style>
<!--    footer {-->
<!--    bottom: 0;-->
<!--    position: fixed;-->

<!--}-->
</style>
<footer>
<div class="pull-left" style="float:left;">
    Helpline No : +91-8299620340    | E-mail : p-amarjeet@goodearth.in
</div>
<div class="pull-right" style="float:right;">
    Good Earth  - Powered by Good Earth Design Studio
</div>
<center>
<div  class="center" style="">
    <a href="/">Home</a> |
    <a href="{% url 'ecomapp:about'%}">About</a> |
    <a href="{% url 'ecomapp:contact'%}">Contact</a> |
</div>
</center>
<div class="clearfix"></div>
</footer>