{% extends 'base.html' %}

{% block title %} Forgot Password {% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 my-5  p-5 shadow shadow-lg mx-auto">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">{{messge}}</div>
            {% endfor %}
            {% endif %}
            <div id="res"></div>
            <h3 class="text-center"> Reset Your  Password</h3><hr>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Enter Username</label>
                    <input type="text" name="username" id="un" class="form-control" placeholder="Enter User Name">
                </div>
                <button  type="button" class="btn btn-info" onclick="getpass();" id="continue">Click to Continue</button>
                <div class="form-group" style="display:none;" id="afterotp">
                    <label>Enter OTP</label>
                    <input type="number"  id="uotp" class="form-control" placeholder="Enter OTP Here..">
                    <input type="hidden" id="real_otp"> <br>
                    <button type="button" onclick="matchotp();" class="btn btn-info">Verify OTP</button>
                </div>
                <div style="display:none;" id="changepass">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="text" name="npass" class="form-control"placeholder="Enter New Password">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Change Password" class="btn btn-success">
                    </div>
                </div>
            </form>

        </div>
    </div>
    <script>
        function getpass(){
            let username=$("#un").val();
            //alert(username)
            $.ajax({
                url:"{% url 'ecomapp:reset_password' %}",
                type:'GET',
                async: false,
                data:{username:username},
                success:function(result){
                    //alert(JSON.stringify(result))
                    console.log(result)
                    if(result.status=='failed'){
                         $("#res").html("<p class='alert alert-danger'>No user registered with this entered username</p>")
                    }
                    else if(result.status=='error'){
                       $("#res").html("<p class='alert alert-danger'>Could not send email to "+ result.email +"! Something went wrong</p>")

                    }else if(result.status=='sent'){
                         $("#res").html("<p class='alert alert-success'>An OTP Sent your email id -"+ result.email +"</p>")
                         $("#continue").hide();
                         $("#afterotp").slideDown(1000);
                         $("#real_otp").val(result.re_otp);

                    }

                }
            });
        }
        function matchotp(){
            let uotp=$("#uotp").val();
            let real_otp=$("#real_otp").val();
            //alert(uotp)
            //alert(real_otp)
            if (uotp != real_otp){
                //alert("Wrong input")
                $("#res").html("<p class='alert alert-danger'>Incorrect OTP</p>")

            }
            else{
                //alert("Match")
                $("#afterotp").hide();
                $("#changepass").fadeIn(1000);
                $("#res").html("<p class='alert alert-success'>Validate Success !!</p>")
            }
        }
    </script>
    {% if status %}
        <script>
            alert("{{status}}")
            //window.location('/home/')
        </script>
    {% endif %}
</div>


{% endblock %}