{% extends 'base.html' %}

{% block title %} Search  {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Search Results for <span class="text-info">"{{request.GET.keyword}}"</span></h3><hr>
            {% for p in results %}
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{p.image.url}}" height="100px;" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h4  class=""><a href="{% url 'ecomapp:productdetail' p.slug %}"> {{p.title}}</a></h4>
                        <h4>{{p.description|truncatewords:20}}</h4>
                        <h4>Return Policy: {{p.return_policy}}</h4>
                        <a href="{% url 'ecomapp:addtocart' p.id %}" class="btn btn-primary">Add Cart</a>

                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}

